body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ee0000;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #ff0202;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    color: #e70000;
}

h2 {
    color: #02974d;
}

p {
    line-height: 1.6;
    color: #444;
}

section {
    margin-bottom: 30px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 5px;
}

#about, #education, #experience, #skills, #contact {
    padding-bottom: 20px;
    border-bottom: 1px solid #ddd;
}